//- 继承
extends ../layout

block content
    .container
        .row
            .col-md-7
                embed(src="#{movie.flash}",allowFullScreen="true",quality="high",width="720",height="600",align="middle",type="application/x-shockwave-flash")
            .col-md-5
                dl.dl-horizontal
                    dt 电影名字
                    dd= movie.title
                    dt 导演
                    dd= movie.doctor
                    dt 国家
                    dd= movie.country
                    dt 语言
                    dd= movie.language
                    dt 上映年份
                    dd= movie.year
                    dt 简介
                    dd= movie.summary
    .container
        .row
            .col-md-7
                #comments
                    form#commentForm(method="POST",action="/user/comment")
                        input(type="hidden",name="comment[movie]",value="#{movie._id}")
                        .form-grounp
                        textarea.from-control(name="comment[content]",row="3")
                        if user
                            button.btn.btn-primary(type='submit') 提交
                            input(type="hidden",name="comment[from]",value="#{user._id}")
                        else
                            a.navbar-link(href='#',data-toggle='modal',data-target='#loginModal') 登录后评论

            .col-md-5
                each item in comments
                    p #{item.content}
                    p #{item.from.name}
                    a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{item.from._id}") 回复
                    if item.reply && item.reply.length > 0
                        each reply in item.reply
                            h4.media-heading
                                | #{reply.from.name}
                                span.text-info 回复
                                | #{reply.to.name}
                            p #{reply.content}
                            a.comment(href="#comments", data-cid="#{item._id}", data-tid="#{reply.from._id}") 回复
    script(src="/js/detail.js")
